* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.natural-20 {
    color: #28B463;
}

.natural-1 {
    color: #E74C3C;
}

.plain {
    color: black;
}

/*header {
    text-align: center;
    margin-top: 2%;
}*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    border: 2px solid #2699ab;
    text-align: center;
    margin: 0 1% 1% 0;
    width: 48%;
}

.different {
    width: 100%;
    padding: 2%;
}

h2 {
    margin: 10px;
}

h3 {
    font-size: 20px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.one {
    width: 20%;
    margin: 1% 0 0 1%;
}

.all {
    width: 80%;
    margin: 1% 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    border: 1px solid #2699ab;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px;
    margin: 5px;
    font-size: 100%;
    font-weight: bold;
    background-color: #2699ab;
    color: white;
    border: 2.5px solid gray;
    border-radius: 10px;

}

button:hover {
    transform: scale(1.1);
    box-shadow: 2.5px 2.5px 2.5px gray;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(.99);
}

.skills button {
    width: 30%;
}

.saving-throws, .rolls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.saving-throws button, .rolls button {
    width: 50%;
}

.selected {
    background-color: #FF8E7A;
}

.spell-levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spell-levels button {
    width: 90%;
    font-size: 150%;
}

.proficient {
    border: 5px solid #FF8E7A;
}