* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.natural-20 {
    color: green;
}

.natural-1 {
    color: red;
}

.plain {
    color: black;
}

body {
   
}

header {
    text-align: center;
    margin-top: 2%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    border: 2px solid teal;
    text-align: center;
    margin: 0 1% 1% 0;
    width: 48%;
    padding: 2%;
}

.different {
    width: 100%;
    padding: 2%;
}

h2 {
    margin: 10px;
}

h3 {
    font-size: 20px;
}

.flex {
    display: flex;
    align-items: center;
}

.one {
    width: 20%;
    margin: 2% 0 0 2%;
}

.all {
    width: 80%;
    margin: 2% 1% 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result {
    margin: 10px;
    border: 1px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px;
    margin: 5px;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 2.5px 2.5px 2.5px gray;
}

.skills button {
    width: 30%;
}

.saving-throws, .rolls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.saving-throws button, .rolls button {
    width: 50%;
}

.selected {
    background-color: green;
    color: white;
}

.spell-levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spell-levels button {
    width: 90%;
    font-size: 30px;
}

.proficient {
    /*background-color: rgb(35, 108, 192);
    color: white;*/
    border: 2.5px solid rgb(35, 108, 192);
}

.advantage {
    color: rgb(30, 134, 20);
}

.disadvantage {
    color: red;
}

ol {
    list-style-type: none;
}

